# . history folder
.history/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.whl

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride

# C++ build files
*.o
*.obj
*.out
*.exe
*.log
*.a
*.lib
*.dll
*.dylib
*.pdb
*.idb
*.class
*.moc
*.h.gch
*.pybind11/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Other
*.log
*.tmp
*.bak
*.old
*.swp

# Ignore results and generated data
results/
*.md.generated/
__pycache__/
